<h1 class="title">Changelog - Alpha Version</h1>
<div class="devlog-container">
    <h2>v0.02</h2>
    <h3>26.10.2022</h3>
    <p>+ Homepage Finished</p>
    <p>-> Picture of me that changes colors when hovered over added</p>
    <p>-> Introductory text with typing effect added</p>
    <p>-> Recent work section finished (Still need to add clickable recent work)</p>
    <p>-> Services section finished</p>
    <p>+ Development version of Changelog page (Text only) added</p>
    <p>+ Base Routing implemented</p>
    <p>- Minor Improvement to the Scrollspy (Active tab is now blue)</p>
    <p>/ Still not mobile friendly</p>
    <h2>v0.01</h2>
    <h3>23.10.2022</h3>
    <p>+ First (Alpha) Version of the Website Released</p>
    <p>+ Minimum Functionality</p>
    <p>+ Header and Footer finished (No Functionality/Routing yet)</p>
</div>