@import "../../../../styles/variables";

.home-page{
    color:white;
    margin-left:0px;
    --bs-gutter-x:0;
}

.main-content section{
    scroll-snap-align: start;
}

.scrollspy-example {
    position: relative;
    height:850px;
    overflow-y: scroll;
    scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

.home-page-section{
    margin-left: 9%;
    margin-bottom: -100px;
    height:945px;
}