<div class="home-page">
<div scrollSpy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)" class="scrollspy-example main-content">
    <section id="start-section" class="home-page-section">
        <h4>Welcome</h4>
        <p>Work In Progress</p>
    </section>
    <section id="recents-section" class="home-page-section">
        <h4>Recent Projects</h4>
        <p>Work In Progress</p>
    </section>
    <section id="services-section" class="home-page-section">
        <h4>Offered Services</h4>
        <p>Work In Progress</p>
    </section>
    <section>
        <home-page-footer></home-page-footer>
    </section>
  </div>
  <div>
    <homepage-scrollspy></homepage-scrollspy>
</div>
</div>